html {
	font-family: 'Oxygen', sans-serif;
}

a {
	display: block;
}

section {
	padding-bottom: 5em;
}

p {
	text-align: left;
	/* width: 75%; */
	padding: 1em;
}

li {
	text-align: left;
}

h1{
	padding: 0;
	margin: 0;
}

.color-swatch {
	display: inline-block;
	width: 4em;
	height: 4em;
}
.base {
	background-color: rgb(209, 168, 121)
}
.background {
	background-color: rgb(229, 207, 181)
}
.hover-state {
	background-color: rgb(191, 144, 90)
}
.search {
	background-color: rgb(97, 68, 34)
}
.purchase {
	background-color: rgb(153, 92, 49)
}
.purchase-hover {
	background-color: rgb(176, 111, 65)
}
.color-caption {
	display: inline-block;
}

.logo-text {
	font-family: 'Teko', sans-serif;
	text-decoration: none;
	color: white;
	font-size: 3em;
	/* background-color: rgb(209, 168, 121); */
	background-color: rgba(0, 0, 0,0.8);
	border: 1px solid black;
	padding-left: 0.5em;
	padding-top: 0.4em;
	padding-right: 0.5em;
	padding-bottom: 0em;
}

.action-button {
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding: 0.4em 0.2em;
	width:8em;
	font-family: 'Oxygen',sans-serif;
	font-size: 1em;
	transition: background-color 1s ease-out;
	border:0px;
}

.action-button:hover, .action-button:focus {
	background-color: rgba(0,0,0,0.8);
}

.nav-button{
	text-align: center;
	background-color: rgb(209, 168, 121);
	text-align: center;
	border: 1px solid white;
	vertical-align: center;
	text-decoration: none;
	color: black;
	font-size: 2em;
	padding-top:0.6em;
}

.nav-button:hover, .nav-button:focus {
	background-color: rgb(191, 144, 90);
}

.product-main {
	background-color: rgb(242, 226, 208);
}

.product-main-1 {
	text-align: center;
}

.body-main {
	background-color: rgb(242, 226, 208);
	padding: 2em;
}

.product-browser-main-item {
	border: 1px solid black;
	margin: 4em;
	padding: 1em;
}

img {
	height: auto;
	display: block;
	margin-bottom: 0;
	padding: 0;
}
