*, *::after, *::before {
	box-sizing: border-box;
}

.box {

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap: wrap;

	justify-content: space-around;
}

.nav-main{
	height:4em;
}

.box-item-nav {
	flex: 1 1 auto;
}
.box-blank-nav {
	flex: 8 1 auto;
	background-color: rgba(0, 0, 0,0.8);
}
.box-cart-nav{
	flex: 1 1 auto;
}

.product-main-1 {
	flex: 2 1 ;
}

.product-main-2 {
	flex: 1 1 ;
}

.box-item-logo {
	flex: 3 1 auto;
}

.footer-main-item {
	flex: 1 1 auto;
}

.product-browser-main-item {
	flex: 1 1 auto;
}


@media (max-width: 30em) {
}
