body {
	background-color: rgb(229, 207, 181);
	margin: 0;
}

.footer-main {
	background-color: rgba(0, 0, 0,0.8);
	padding: 1em;
	color: white;
}

.gallery {
	overflow: hidden;
}

.gallery_img {
	display: inline;
	width: 40em;
}

.image-carousel {
	white-space: nowrap;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

.carousel-nav {
	overflow: auto;
	width: 39em;
	margin-left: auto;
	margin-right: auto;
}

.carousel-scroll {
	display: inline-flex;
}

.carousel-nav-item {
	margin: 0.5em;
	padding: 0;
	display: inline-table;
	width: 15em;
	background-color: rgb(229, 207, 181);
}

.home-news {
	margin: 0;
}

.nav-cart {
	margin-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.gallery_link {
	display: inline-block;
}

.article-img {
	width: 75%;
}