html {
	font-family: 'Oxygen', sans-serif;
}

body{
	margin: 0;
	padding: 0;
}

a {
	display: block;
	text-decoration: none;
	padding: 0;
	color: white;
	margin: 0;
}

section {
	padding-top: 2em;
	padding-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: left;
	 width: 75%; 
	padding: 1em;
}

li {
	text-align: left;
}

h1{
	padding: 0;
	margin: 0;
}
h2{
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	/* width: 100%; */
	display: block;
	margin-bottom: 0;
	padding: 0;
	object-fit: cover;
}

nav{

}

.color-swatch {
	display: inline-block;
	width: 4em;
	height: 4em;
}
.base {
	background-color: rgb(209, 168, 121)
}
.background {
	background-color: rgb(229, 207, 181)
}
.hover-state {
	background-color: rgb(191, 144, 90)
}
.search {
	background-color: rgb(97, 68, 34)
}
.purchase {
	background-color: rgb(153, 92, 49)
}
.purchase-hover {
	background-color: rgb(176, 111, 65)
}
.color-caption {
	display: inline-block;
}

.logo-text {
	font-family: 'Teko', sans-serif;
	color: white;
	font-size: 1.5em;
	background-color: rgba(0, 0, 0,0.8);
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-decoration: none;
	padding-top: 0.25em;
}

.action-button {
  background-color: rgba(71, 82, 94,1);
  color: white;
  padding: 0.4em 0.2em;
	width:8em;
	font-family: 'Oxygen',sans-serif;
	font-size: 1em;
	transition: background-color 1s ease-out;
	border:0px;
}

.action-button:hover, .action-button:focus {
	background-color: rgba(0,0,0,0.8);
}

.nav-button{
	background-color: rgba(0, 0, 0,0.8);
	text-align: center;
	text-decoration: none;
	color: rgb(225, 225, 225);
	font-size: 2em;
	padding: 0.5em;
}

.nav-button:hover, .nav-button:focus {
	background-color: rgba(0, 0, 0,0.2);
	color: rgb(100, 100, 100);
}

.nav-blank-space{

}

.icon-shopping{
	width:40px;

	margin-left: auto;
	margin-right: auto;
}

.product-main {
	/* background-color: rgb(242, 226, 208); */
}

.product-main-1 {
	text-align: center;
}
.product-main-2 {
	margin-top: 2em;
	margin-left:2em;
}

.body-main {
	background-color: rgb(242, 226, 208);
	padding: 2em;
}

.nav-main {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 2em;
}

.product-browser-main-item {
	border: 1px solid black;
	margin: 4em;
	padding: 1em;
}
